.openIconContainer {
    width  : 24px;
    padding: 0;
}

.opened--mobile__drawer {
    width: 70% !important;
    max-width: 390px !important;
    min-width: 220px !important;
    background: #FFFFFF;
}

.drawerContent--mobile__drawer {
    overflow-y: hidden;
    height: 450px;
}

.drawerHeader--my-drawer__header {
    padding-top: 20px;
}

.childrenContainer--mobile__drawer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3px;
}