.caretIcon--mobile__mega-menu {
    display: none;
}

.accordionIconContainer--mobile__mega-menu--isOpen {
    display: none;
}

.departmentsTitle--mobile__mega-menu {
    display: none;
}

.styledLinkContent--mobile__mega-menu {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
}

.menuItemVertical--mobile__mega-menu {
    border-bottom: none;
}

/* .styledLinkContent--mobile__mega-menu:hover {
    border-bottom: 3px solid rgba(255, 131, 36, 0.2);
} */