.menuContainerNav--desktop__mega-menu {
    min-width: 12rem;
    max-width: 34rem;
    max-height: 40.5rem;
    border-radius: 0 0 16px 16px;
    border-bottom: none;
}
.menuContainerNav--desktop__mega-menu :global(.vtex-mega-menu-2-x-menuContainer){
    overflow: scroll;
    height: 100vh;
    height: 647px;
    max-height: 90vh !important;
    max-width: 14rem;
    border-right-style: none;
    border-right-width: none;
}

.submenuContainer {
    background: #FFE6D3;
    overflow: scroll;
    max-width: 13rem;
    max-height: 100vh !important;
    border-radius: 0px 0px 16px 0px;
}

.menuItem--desktop__mega-menu:hover {
    background-color: rgba(255, 131, 36, 0.2);
    border-left: 6px solid #FF8324;
}

.caretIcon--desktop__mega-menu {
    display: none;
}

/* .accordionIconContainer--desktop__mega-menu--isOpen {
    display: none;
} */

.styledLinkContent--desktop__mega-menu {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
}

.styledLinkText--desktop__mega-menu {
    color: #1D2734 !important;
}

.menuItem--desktop__mega-menu .bg-black-05{
    background-color: rgba(255, 131, 36, 0.2);
    border-left: 6px solid #FF8324;
}

.seeAllLink--desktop__mega-menu {
    display: none;
}

.submenuList {
    gap: 0.5rem;
}
.vtex-mega-menu-2-x-submenuList .vtex-mega-menu-2-x-submenuItem {
    max-width: 186px;
}