.infoCardContainer--banner-home--text {
   display        : flex;
   flex-direction : row;
   justify-content: center;
   align-items    : center;
   background     : #F0F0F2;
   padding        : 0;
   height         : 422px;
   top            : 168px;
   left           : 0px;
   isolation      : isolate;
}

.infoCardCallActionContainer--banner-home--text {
   visibility: hidden;
}

.imageElement--mobile__slider-image--text {
   width: 100%;
}

.imageElement--desktop__slider-image {
   width : 324px;
   height: 336.46px;

}

.imageElement--banner-home--text {
   min-width: 100%;
}

@media screen and (min-width: 1026px) {
   .logoContainer {
      padding: 0px;
   }
}

.searchBarContainer {
   margin-left : 16px;
   margin-right: 30px;
   width       : 280px;
   flex-shrink : 0;
}

@media screen and (max-width: 1222px) {
   .searchBarContainer {
      margin-right: 5px;
      width       : 11rem;
   }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
   border-radius: 40px;
   border       : none
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
   font-weight: 300;
   font-size  : 12px;
   line-height: 15px;
}

.sizeMobile {
   min-width: 50px;
}

.notificationBarContainer {
   background-color: transparent;
}

.notificationContent {
   color      : #3F3F40;
   font-size  : 14px;
   font-weight: 300;
   line-height: 20px;
   text-align : left;

}