.infoCardContainer--info-card-banner {
   display        : flex;
   flex-direction : row;
   justify-content: center;
   align-items    : center;
   background     : #F0F0F2;
   padding        : 0;
   height         : 422px;
   top            : 168px;
   left           : 0px;
   isolation      : isolate;
}

.infoCardCallActionContainer--info-card-banner {
   visibility: hidden;
}

.imageElement--infocard-imag-mobile--text {
   width: 100%;
}

.imageElement--infocard-image--text {
   width : 324px;
   height: 336.46px;

}

@media screen and (min-width: 1026px) {
   .logoContainer {
      padding: 0px;
   }
}

.searchBarContainer {
   margin-left : 16px;
   margin-right: 30px;
   width       : 280px;
   flex-shrink : 0;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
   border-radius: 40px;
   border       : none
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
   font-weight: 300;
   font-size  : 12px;
   line-height: 15px;
}

.sizeMobile {
   min-width: 50px;
}
