/* .container {
   padding: 0;
} */

/* .imageElement--watch_image_1{
   position: absolute;
   width: 464px;
   height: 422px;
} */

/* .imageElement--watch_image_2 {
   transform: rotate(180deg);
   width: 414px;
   height: 422px;
} */

/* .imageElement--computer--text {
   max-width: 100%;
   max-height: 100%;
} */

/* .imageElement--button-banner{
   position: relative;
   padding-left: 25%;
   top: 4px;
} */

/* .imageElement--infocard__product__image--text {
   width: 100%;
} */

/* .infoCardContainer--info-card-first-carousel {
   display: flex;
   flex-direction: column-reverse;
} */

.infoCardContainer--info-card-banner {
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   background: #F0F0F2;
   padding: 0;
   height: 422px;
   top: 168px;
   left: 0px;
   isolation: isolate;
}

.infoCardCallActionContainer--info-card-banner {
   visibility: hidden;
}
.imageElement--infocard-imag-mobile--text {
   width: 100%;
}

.imageElement--infocard-image--text {
   width: 324px;
   height: 336.46px;

}
/* @media screen and (max-width:1024px) {
   .imageElement--info-card-banner {
      width: 100%;
      }
} */

/* .imageElement--price__button--text {
   margin: auto;
   padding-bottom: 20px;

} */
/* 
.sizeMobile {
   width: 24px;
   height: 24px;
}

.sizeDesktop {
   width: 20px;
   height: 20px;
} */


@media screen and (min-width: 1026px) {
   .logoContainer {
      padding: 0px;
   }
}

.searchBarContainer {
   /* max-width: 300px; */
   margin-left: 16px;
   margin-right: 30px;
   width: 280px;
   /* height: 40px; */
   flex-shrink: 0;
}  

/* .autoCompleteOuterContainer--search-bar--text {
   border-radius: 40px;
} */
.searchBarContainer :global(.vtex-input-prefix__group) {
   border-radius: 40px;
   border: none
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
   font-weight: 300;
   font-size: 12px;
   line-height: 15px;
}

/* .searchBarContainer :global(.vtex-input__suffix) {
   
} */

.logoImage {
   /* width: 100%; */
}

.sizeMobile {
   min-width: 50px;
}

/* .headerRowContentContainer--header_two_row--text .styledLinkContent {
   height: 41px;
} */