.headerRowContentContainer--header_two_row_mobile--text {
    overflow-x: scroll;
    width     : 100vw;
    overflow-y: hidden;
    max-width: 1280px;
}

.headerRowBackground--header_one_row--text {
    max-width: 1280px;
    margin: auto;
}

.headerRowContentContainer {
    background-color: rgba(255, 255, 255, 1);
}


/* SMALL DESKTOP - Between 1025px and 1280px */
.headerRowContentContainer {
    width   : 100vw;
    overflow: hidden;
}

/* LASRGE DESKTOP - Equal or largen than 1280px */
@media screen and (min-width:1280px) {
    .headerRowContentContainer {
        width   : 90vw;
        overflow: hidden;
        padding : 0;
    }
}

.headerStickyRow--header_one_row_mobile--text {
    max-width: 1280px;
    margin   : auto;
}

.headerStickyRow--header_two_row--text {
    max-width: 1280px;
}

.headerRowContentContainer--header_two_row--text {
    max-width: 1280px;
}

.headerRowContentContainer--header_one_row--text {
    max-width: 1280px;
}

.headerRowContainer--header_one_row--text {
    max-width: 95%;
    margin: auto;
}
