.styledLinkContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styledLinkContent {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

}
.styledLinkContent:hover {
    border-bottom: 3px solid #1D2734;
}
.styledLinkContainer {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
/* .menuItem {
    max-width: 80px;
} */