/* .openIconContainer {
    background-color: #F0F0F2;
} */

.cartIcon {
    color: #1D2734;
    width: 20px;
    height: 20px;
}

/* @media screen  and (max-width: 1280){
    .cartIcon {
        width: 20px;
        height: 20px;
    }
} */