.container :global(.vtex-button) {
    background-color: #1D2734;
    border-radius   : 40px;
    border          : 1px;
    min-width       : 80px;
    height          : 40px;
}

.label {
    color         : #F0F0F2;
    text-transform: capitalize;
    font-size     : 14px;
    line-height   : 17.5px;
    text-align    : center;
    font-weight   : 300;
    min-width     : 37px;
    height        : 18px;
    padding-left  : 6px;
    display       : inline;
}