.cartIcon {
    color : #1D2734;
    width : 16px;
    height: 16px;
}

.minicartWrapperContainer {
    width: 44px;
}

.openIconContainer {
    padding: 0;
}

.openIconContainer .vtex-button__label {
    padding: 0;
}