.flexCol--search_icon_row--text {
    height: 20px;
}

@media screen and (max-width: 1025px) {
    .flexCol--search_icon_row--text {
        width: 44px;
    }
}

.flexCol--search_icon_row--text {
    height: 20px;
}


.flexCol--spacer-header--text {
    padding-right  : 20px;
}

.flexRowContent--desktop__header-menu--text {
    margin-top: -8px;
}

/* Flex layout props notification bar*/
.flexRow--global__row__container__notification {
    background-color: rgba(147, 255, 150, 0.2);
    margin-bottom: 20px;
}