.flexRow--container__banner--text{
   background: #F0F0F2;
   width: 100%;
   height: 422px;
   top: 168px;
}

.flexColChild--columns--text{
   display: flex;
   align-items: center;
   align-content: center;
   padding: auto;
}


.flexRowContent--headings_container {
   gap: 0px;
}

.slideChildrenContainer--carousel {
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: space-around;
   top: auto;
}