.flexRow--container__banner--text{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   background: #F0F0F2;
   padding: 0;
   /* width: 1280px; */
   height: 422px;
   top: 168px;
   left: 0px;
   isolation: isolate;
}

.flexRowContent--container__banner--text{
   max-width: 1280px;

}

.flexRow--iwatch__banner--text {
   display: flex;
   align-items: baseline;
   align-content: flex-start;
   justify-content:end;
}

.flexColChild--columns--text{
   display: flex;
   align-items: center;
   align-content: center;
   top: 121px;
}

.slideChildrenContainer--first-carousel {
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: space-around;
   top: 16px;
   left: 94px;
   right: 94px;
}

.slideChildrenContainer--second-carousel {
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: space-around;
   top: 16px;
   left: 94px;
   padding-top: 16px;
}

.flexRow--infoCard__main__row--text{
   display: flex;
   align-items: center;
}
.flexCol--infoCard__main__col--text {
   background-color: white;
   border-radius: 14px;
   padding-left: 0px;
}
.flexColChild--infoCard__main__col--text {
   width: 344px;
   height: 336px;
   margin: 0px;
}

.flexColChild--infocard__award__image__col--text {
}

.flexCol--infocard__texts__col--text {
   
}