.description {
    text-align: left;
    max-height: 3.1rem;
    overflow: hidden;
    margin-right: 22px;
    margin-bottom: 7px;
    margin-top: 12px;
}

 /* .element {
    width: 212px;
    max-width: 100%;
    height: 378px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    margin-top: 60px;
 } */

 .image--computer--text {
    /* padding: auto; */
    width: 178px !important;
    /* height: 140px; */
    margin: auto;
    margin-top: 36px;
 }
 
 /* .tooltipLabelText {
   background: url("assets/img/2_image_add_shopping_car.svg");
   background-repeat: no-repeat;
 } */

@media screen and (max-width: 1024) {
    .description {
        width: 100%;
        padding: 2px 10px
    }
    
     .element {
        width: 100%;
        max-height: 100%;
     }
    
}