.savings {
    font-size: 14px;
    text-align: center;
    border: 1px solid #1D2734;
    background-color: #1D2734;
    border-radius: 4px;
    color: white;
    max-width: 100%;
    height: 32px;
    padding: 4px 10px;
    padding-top: 12px;
    gap: 10px;
}

.listPrice {
    font-size: 14px;
    text-align: left;
    color: #1D2734 40%;
    margin: 4px 6px 0px;
}

.sellingPrice {
    font-size: 24px;
    text-align: left;
    line-height: 22px;
    font-weight: 600;
    margin: 4px 6px 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 1024) {
    .savings {
        padding-top: 10px;
        width: 40px;
        height: 30px;
        font-size: 12px;
    }

    .listPrice {
        margin: 4px 0px;
        font-size: 12px;
    }
    
    .sellingPrice {
        margin: 4px 0;
        font-size: 20px;
    }
}