/* .sliderLayoutContainer--first-carousel--text {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: -100%;
}

.sliderLayoutContainer--second-carousel--text {
    margin: 0 auto;
    max-width: 1350px;
} */

/* .paginationDot--isActive::before {
    content: "";
    position: absolute;
    right: -8px;
    width: 16px;
    height: 16px;
    background-color: #1D2734;
    border-radius: 50%;
}

.paginationDot::after {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: #1D2734;
    position: absolute;
}
.paginationDot {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.sliderLayoutContainer {
    margin: 0 40px;
    padding: 0 38px;
}

.slideChildrenContainer {
    margin-bottom: 40px;
} */

/* .sliderLeftArrow {
    left: 60px;
    position: absolute;
}
.sliderRightArrow {
    right: 70px;
    position: absolute;
} */

.slide--first-carousel--text {
    width : 62vw !important;
    margin: 0;
}

.paginationDot--isActive::before {
    content         : "";
    position        : absolute;
    right           : -8px;
    width           : 16px;
    height          : 16px;
    background-color: #1D2734;
    border-radius   : 50%;
}

.paginationDot::after {
    width           : 44px;
    height          : 2px;
    content         : "";
    font-size       : 0;
    background-color: #1D2734;
    position        : absolute;
}

.paginationDot {
    width           : 44px !important;
    height          : 40px !important;
    border-radius   : 0;
    background-color: transparent;
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0 2px;
}

.paginationDotsContainer {
    max-width     : 232px;
    height        : 51px;
    /* margin-left: 524px;
    margin-right  : 524px; */
    /* position   :absolute; */
    margin-left   : auto;
    margin-right  : auto;
    bottom        : -51px;
}

.sliderLeftArrow {
    left: -35px;
}

.sliderRightArrow {
    right: -38px;
}

@media screen and (max-width: 1280px) {
    .sliderLeftArrow {
        left: -21px;
    }

    .sliderRightArrow {
        right: -25px;
    }

    .sliderLayoutContainer {
        max-width: 1080px;
    }
    .slide--first-carousel--text {
        width : 100% !important;
    }
}

.sliderLayoutContainer {
    margin             : auto;
    margin-top         : 16px;
    margin-bottom      : 16px;
    padding            : 0px;
    max-width          : 1156px;
    /* height          : 378px; */
    /* background-color: aquamarine; */
    /* left            : 94px;
    right              : 94px; */
    gap                : 24px;
}

.slideChildrenContainer--second-carousel--text {
    padding: 0 9px;
}


@media screen and (max-width: 1024px) {
    .paginationDot {
        width : 16px !important;
        height: 14px !important;
    }

    .paginationDotsContainer {
        bottom: -61px;
    }


    /* .sliderLayoutContainer {
        margin: 0 20px;
        padding: 0 8px;
    }
    
    .slideChildrenContainer {
        margin-bottom: 20px;
    }
    
    .slide {
        margin: auto;
    }
    
    .sliderLayoutContainer--second-carousel--text{
        width: 328px;
        height: 292px;
        max-width: 100%;
        gap: 7px;
    } */
}