.flexRow--savings__and__wishlist__row--text {
   display        : flex;
   align-items    : flex-end;
   justify-content: flex-end;
   position       : relative;
   padding-right  : 8px;
   margin-bottom  : 6px;
}

.flexRow--savings__and__wishlist__row--text :global(.vtex-button) {
   border          : 1px solid #1D2734;
   height          : 32px;
   border-radius   : 4px;
   padding         : 6px 12px 6px 12px;
   background-color: #F0F0F2;
   position        : absolute;
   right           : 0;
   top             : 0;
}

.flexRow--savings__and__wishlist__row--text :global(.vtex-button__label) {
   padding: 0;
}

.flexRow--add-to-car-button-summary :global(.vtex-button) {
   max-width    : 100%;
   height       : 48px;
   background   : #F0F0F2;
   border       : 1px solid #1D2734;
   border-radius: 8px;
}

.flexRow--add-to-car-button-summary :global(.vtex-buttonDataContainer) {
   background           : url("assets/img/2_image_add_shopping_car.svg");
   background-repeat    : no-repeat;
   display              : flex;
   flex-direction       : row;
   justify-content      : center;
   background-position  : center;
   background-position-x: 20%;
   background-position-y: 11px;
}

.flexCol--row-container-home--text {
   width        : 324px;
   height       : 336.46px;
   border-radius: 12px;
}

.flexRowContent--row-container-home--text {
   justify-content: center;
}

.flexRowContent--description__prices__row--text {
   display        : flex;
   flex-direction : column;
   justify-content: flex-start;
   padding-left   : 8px;
   min-height     : 130px;
   margin-bottom  : 7px;
}

.flexColChild--mobile__slider-infocard-col {
   width: 100%;
}

@media screen and (max-width: 1024px) {
   .flexCol--desktop__slider-infocard-col {
      width   : 100%;
      margin  : 0 6;
      position: center;
   }
}



.flexCol--logo-desktop {
   width      : 32px;
   flex-shrink: 0;
   margin-left: 8px;
}