:global(.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot:after) {
    width           : 44px;
    height          : 2px;
    content         : "";
    font-size       : 0;
    background-color: rgba(0, 0, 0, .4);
    position        : absolute;
}

@media screen and (max-width: 1024px) {
    :global(.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot:after) {
        width: 16px;
    }
}

:global(.vtex-mega-menu-2-x-styledLinkContainer--mobile__mega-menu) {
    padding-bottom: 0.3rem;
}

:global(.bg-black-05){
    background-color: rgba(255, 131, 36, 0.2);
    border-left: 6px solid #FF8324;
}