.paragraph--second__colum__text__first--text{
    font-weight: 600;
    line-height: 40px;
    color: #1D2734;
    padding-bottom: 8px;
    margin: 0;
}
.paragraph--second__colum__text__second--text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FF8324;
    padding-bottom: 16px;
    margin: 0;
}

.paragraph--second__colum__text__third--text{
    font-weight: 300;
    font-size: 16px;
    line-height: 16.8px;
    color: #1D2734;
    padding-bottom: 32px;
    margin: 0;
}

.paragraph--amazing__product__slider__heading--text {
    font-weight: 500px;
    font-size: 16px;
    line-height: 16.8px;
    margin: 2.5rem;
    padding-left: 72px;
    padding-bottom: 16px;
    color: #1D2734;
}

.paragraph--heading__slider__carousel--text {
    font-weight: 600px;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 16px;
}

.paragraph--description__slider__carousel--text {
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.8px;
    padding-bottom: 14px;
}